:root {
  --input-color: hsl(0,0%,5%);
  --link-card-fill-color: #fff;
  --color-lvl0: hsl(0,0%,10%);
  --color-lvl1: hsl(0,0%,15%);
  --color-lvl2: hsl(0,0%,20%);
  --color-lvl3: hsl(0,0%,25%);
  --color-lvl4: hsl(0,0%,30%);
  --border-color: var(--color-lvl2);
  --primary-color: var(--color-lvl2);
  --primary-color-light: var(--color-lvl3);
  --primary-color-dark: var(--color-lvl1);
  --link-color: #4183C4;
  --font-color: #fff;
  --font-on-primary: #fff;
  --link-card-bg-color: var(--primary-color);
  --link-card-bg-color-hover: var(--primary-color-light);
  --button-hover-bg-color: var(--primary-color-light);
}

section {
  box-shadow: none !important;
}
