:root {
  --primary-color: #24292e;
  --link-card-fill-color: var(--primary-color);
  --primary-color-light: #e6ebf1;
  --primary-color-dark: #000004;
  --input-color: hsl(0,0%,92%);
  --color-lvl0: #fafbfc;
  --color-lvl1: #fafbfc;
  --color-lvl2: hsl(0,0%,100%);
  --color-lvl3: hsl(0,0%,100%);
  --border-color: #e1e4e8;
  --link-color: hsl(209.8,52.6%,51.2%);
  --font-color: #000;
  --font-on-primary: #fff;
  --link-card-bg-color: var(--primary-color-light);
  --link-card-bg-color-hover: var(--primary-color-light);
  --button-hover-bg-color: var(--primary-color);
}
