:root {
  --font-size: 14px;
  --main-bg: url("/images/bg.png") repeat;
  --raise-1dp: 0 2px 1px -1px rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 1px 3px 0 rgba(0,0,0,.12);
  --raise-2dp: 0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12);
  --raise-4dp: 0 2px 4px -1px rgba(0,0,0,.2),0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12);
  --raise-6dp: 0 3px 5px -1px rgba(0,0,0,.2),0 6px 10px 0 rgba(0,0,0,.14),0 1px 18px 0 rgba(0,0,0,.12);
  --raise-8dp: 0 5px 5px -3px rgba(0,0,0,.2),0 8px 10px 1px rgba(0,0,0,.14),0 3px 14px 2px rgba(0,0,0,.12);
  --shadow: 0 1px 1px 0 rgba(0,0,0, 0.14),0 2px 1px -1px rgba(0,0,0, 0.12),0 1px 3px 0 rgba(0,0,0, 0.2);
}

.lvl-ground, html, body {
  box-shadow: none;
  background-color: var(--color-lvl0);
}

.lvl-0, section {
  box-shadow: none;
  background-color: var(--color-lvl1);
}

.lvl-1, #contact button {
  box-shadow: var(--raise-2dp);
  background-color: var(--color-lvl2);
}

.lvl-2, #contact button:hover, header {
  box-shadow: var(--raise-4dp);
  background-color: var(--color-lvl3);
}

link-card {
  --link-card-bg-color: var(--primary-color-light);
  --link-card-shadow: var(--raise-2dp);
  --link-card-bg-color-hover: var(--primary-color-light);
  --link-card-shadow-hover: var(--raise-4dp);
}

.lvl-3 {
  box-shadow: var(--raise-6dp);
  background-color: var(--color-lvl4);
}

@media (max-width: 640px) {
  .lvl-0, section {
    box-shadow: var(--raise-1dp);
  }
  .lvl-1, #contact button {
    box-shadow: var(--raise-4dp);
  }
  .lvl-2, #contact button:hover, header {
    box-shadow: var(--raise-6dp);
  }

  link-card {
    --link-card-shadow: var(--raise-4dp);
    --link-card-shadow-hover: var(--raise-6dp);
  }

  .lvl-3 {
    box-shadow: var(--raise-8dp);
  }
}

header, #contact button, #contact button:hover {
  background-color: var(--primary-color);
  color: var(--font-on-primary);
}

#contact button {
  padding: 0.5em 10px;
  border-radius: 5px;
  border: none;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: var(--font-size);
}

ol,
ul {
  list-style: none;
}

html {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
  color: var(--font-color);
  font-size: var(--font-size);
}

header {
  text-align: left;
  padding: .5rem 1rem;
  display: flex;
  align-items: center;
  flex-direction: row;
}

header h1 {
  font-weight: 600;
  margin: 0 2rem;
}

header .spacer {
  flex-grow:1;
}

.profile {
  height: 32px;
  border-radius: 16px;
}

main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

section {
  border: 1px solid var(--border-color);
  padding: 2rem;
  text-align: center;
}

section h1 {
  font-size: 18px;
  font-weight: 800;
  padding: 1rem;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
}

section link-card {
  margin: .5rem;
}

#contact {
  padding: 2rem;
}

form {
  text-align: left;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1rem;
  row-gap: 1rem;
  margin-top: 2rem;
}

label {
  font-weight: 600;
}

select, input, textarea {
  color: var(--font-color);
  padding: 0.5em 10px;
  font-size: inherit;
  font-family: inherit;
}

.form-row {
  text-align: center;
}

select, input, textarea {
  border: 1px solid var(--input-color);
  padding: 15px 10px;
  background: var(--input-color);
  box-shadow: none;
  border-radius: 3px;
}

textarea, .form-row {
  grid-column-start: 1;
  grid-column-end: 3;
}

*:required:invalid {
  background-repeat: no-repeat;
  background-size: 10px 10px;
  background-position: center right 12px;
  background-image: url(/images/asterisk.svg);
}

textarea:required:invalid {
  background-position: top 14px right 12px;
}

#contact button {
  padding: 1rem 2rem;
  font-weight: 600;
}

.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
}

@media (min-width: 1800px){
  #contact {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

@media (max-width: 1799px){
  main {
    grid-template-columns: repeat(2, 1fr);
  }

  #misc {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

@media (max-width: 1199px){
  main {
    display: flex;
    flex-direction: column;
  }
  section {
    padding: 1rem 0;
  }
  #contact {
    padding: 2rem;
  }
  form {
    display: flex;
    flex-direction: column;
  }
  form > * {
    margin: .5rem 0;
  }
}



